---
import { client } from "../../tina/__generated__/client";
import ResponsiveCard from "../components/ResponsiveCard";
import Boilerplate from "../layouts/Boilerplate.astro";

async function fetchArticles() {
  let articles = [];
  try {
    const articlesResponse = await client.queries.articleConnection();
    articles = articlesResponse.data.articleConnection.edges.map((edge) => ({
      thumbnail: edge.node.thumbnail,
      date: edge.node.date,
      author: edge.node.author,
      description: edge.node.description,
      categories: edge.node.categories,
      title: edge.node.title,
      slug: edge.node.slug,
    }));
  } catch (error) {
    console.error("Error fetching articles:", error);
    // Handle error as appropriate
  }
  return articles;
}

// Fetch articles during build
const articles = await fetchArticles();
---

<Boilerplate
  title="Printing Talks - Articles"
  description="Explore the Printing Talks articles"
>
  <div class="flex flex-col">
    <div
      class="top-banner flex flex-col h-[12rem] md:h-[14rem] justify-center gap-1 self-stretch border-b border-solid p-4 md:px-12"
    >
      <h4 class="font-medium text-3xl">Articles</h4>
      <p class="text-neutral text-xl">
        Learn more about our work and the services we provide.
      </p>
    </div>

    <div class="container mx-auto space-y-6 p-8">
      {
        articles.map((article) => (
          <ResponsiveCard
            key={article.slug}
            imageUrl={article.thumbnail}
            title={article.title}
            content={article.description}
            buttonText="Read"
            slug={article.slug}
          />
        ))
      }
    </div>
  </div>
</Boilerplate>
