---
import Boilerplate from "../layouts/Boilerplate.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  productName: string;
  category: string;
  productDescription: string;
  imageUrls: Array<string>;
  isBestSeller: boolean;
  availableSizes: Array<string>;
  types: Array<string>;
  slug: string;
}>;
const { frontmatter } = Astro.props;
---

<Boilerplate title={`PrintingTalks - ${frontmatter.productName}`}>
  <main>
    <div
      class="container p-4 flex flex-col gap-10 md:flex-row mx-auto my-8 sm:my-16 min-h-[95svh]"
    >
      <div id="product-images" class="flex overflow-auto sm:grid grid-cols-2 gap-2 h-fit">
        {
          Object.values(frontmatter.imageUrls).map(
            (url) =>
              url && url !== "" &&
              <img class="max-w-100%" src={url} alt="" />
              <img class="max-w-100%" src={url} alt="" />
              <img class="max-w-100%" src={url} alt="" />
              <img class="max-w-100%" src={url} alt="" />,
          )
        }
      </div>
      <div id="product-info" class="flex flex-col w-[100%] sm:w-[478px] sm:min-w-[256px] gap-4">
        {
          frontmatter.isBestSeller && (
            <div class="grid place-items-center bg-orange-400 px-3 py-1 rounded-2xl max-w-fit">
              <small class="font-bold">Best Seller</small>
            </div>
          )
        }
        <div>
          <h3>{frontmatter.productName}</h3>
          <h6>{frontmatter.category}</h6>
        </div>
        <div>
          <p class="font-bold">Description</p>
          <p>{frontmatter.productDescription}</p>
        </div>
        {frontmatter.types && frontmatter.types.length > 0 &&
        (<div>
          <p class="font-bold">Product Types</p>
          <div id="type-selection" class="flex flex-wrap">
            product type component
          </div>
        </div>)
        }
        
        {
          frontmatter.availableSizes &&
            frontmatter.availableSizes.length > 0 && (
              <div>
                <p class="font-bold">Available Sizes</p>
                <div class="flex flex-wrap gap-2">
                  {frontmatter.availableSizes.map((size) => (
                    <div class="grid place-items-center border rounded-md w-[104px] h-10">
                      <p>{size}</p>
                    </div>
                  ))}
                </div>
              </div>
            )
        }
      </div>
    </div>
  </main>
</Boilerplate>
